<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <script>window.onload = function () {document.getElementById("home").className = "nav-link active";}</script>
</head>
<body>
<section layout:fragment="content">
    <p style="color: darkcyan; text-align: center" th:if="${msg}" th:text="${msg}"></p>
    <table th:if="${!#lists.isEmpty(allBikes)}" id="bike-table" class="table align-middle caption-top text-center">
        <caption>List of all Bikes</caption>
        <thead class="table-dark" id="tb-header">
        <tr>
            <th scope="col" style="width: 20%">ID</th>
            <th scope="col" style="width: 10%">Brand</th>
            <th scope="col" style="width: 10%">Color</th>
            <th scope="col" style="width: 10%">Gears</th>
            <th scope="col" style="width: 20%">Creation Date</th>
            <th scope="col" style="width: 20%">Created By</th>
            <th scope="col" style="width: 20%">Last Editor</th>
            <th scope="col" style="width: 25%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bike: ${allBikes}" th:id="${bike.id}">
            <td th:text="${bike.id}"></td>
            <td th:text="${bike.brand}"></td>
            <td th:text="${bike.color}"></td>
            <td th:text="${bike.numberOfGears}"></td>
            <td th:text="${bike.createdDate}"></td>
            <td th:text="${bike.createdBy}"></td>
            <td th:text="${bike.lastModifiedBy}"></td>
            <td>
                <div class="btn-group" role="group">
                    <input type="button" class="btn btn-danger btn-sm" value="Remove" onclick="rm(this)" th:data-id="${bike.id}"/>
                    <a class="btn btn-secondary btn-sm" th:href="@{~/editor/{bikeId}(bikeId=${bike.id})}">Edit</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <label style="color: red;" th:if="${#lists.isEmpty(allBikes)}">The Inventory is Empty!</label>
    <script>
        function rm(element) {
            var id = element.dataset.id;
            fetch(`/api/bike/${id}`, {method: "delete"}).then(() => {
                window.location.reload();
            })
        }
    </script>
</section>
</body>
</html>